name: Balena Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Balena Deploy
        uses: balena-io/deploy-to-balena-action@v2.0.138
        with:
          balena_token: ${{ secrets.BALENA_API_TOKEN }}
          fleet: ${{ secrets.BALENA_FLEET_NAME }}
